In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv("pokemon.csv")

In [3]:
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [4]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [5]:
100 in pokemon.index

True

In [6]:
pokemon.values

array([['Bulbasaur', 'Grass'],
       ['Ivysaur', 'Grass'],
       ['Venusaur', 'Grass'],
       ...,
       ['Diancie', 'Rock'],
       ['Hoopa', 'Psychic'],
       ['Volcanion', 'Fire']], dtype=object)

In [7]:
"Diancie" in pokemon.values

True

In [8]:
"Grass" in pokemon.values

True

In [9]:
pokemon.values[22]

array(['Ekans', 'Poison'], dtype=object)

In [10]:
pokemon[50:200]

        Pokemon     Type
50      Dugtrio   Ground
51       Meowth   Normal
52      Persian   Normal
53      Psyduck    Water
54      Golduck    Water
..          ...      ...
195      Espeon  Psychic
196     Umbreon     Dark
197     Murkrow     Dark
198    Slowking    Water
199  Misdreavus    Ghost

[150 rows x 2 columns]

In [11]:
pokemon = pd.read_csv("pokemon.csv", index_col= "Pokemon")

In [12]:
pokemon.index[:50]

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey',
       'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow',
       'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash',
       'Nidoran', 'Nidorina', 'Nidoqueen', 'Nidoran♂', 'Nidorino', 'Nidoking',
       'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff',
       'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom', 'Vileplume',
       'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett'],
      dtype='object', name='Pokemon')

In [13]:
pokemon["Butterfree":"Golbat"]

                Type
Pokemon
Butterfree       Bug
Weedle           Bug
Kakuna           Bug
Beedrill         Bug
Pidgey        Normal
Pidgeotto     Normal
Pidgeot       Normal
Rattata       Normal
Raticate      Normal
Spearow       Normal
Fearow        Normal
Ekans         Poison
Arbok         Poison
Pikachu     Electric
Raichu      Electric
Sandshrew     Ground
Sandslash     Ground
Nidoran       Poison
Nidorina      Poison
Nidoqueen     Poison
Nidoran♂      Poison
Nidorino      Poison
Nidoking      Poison
Clefairy       Fairy
Clefable       Fairy
Vulpix          Fire
Ninetales       Fire
Jigglypuff    Normal
Wigglytuff    Normal
Zubat         Poison
Golbat        Poison

In [14]:
pokemon["Butterfree":]

               Type
Pokemon
Butterfree      Bug
Weedle          Bug
Kakuna          Bug
Beedrill        Bug
Pidgey       Normal
...             ...
Yveltal        Dark
Zygarde      Dragon
Diancie        Rock
Hoopa       Psychic
Volcanion      Fire

[710 rows x 1 columns]

In [15]:
pokemon.reindex(index = ["Kakuna","Hypa"])

        Type
Pokemon
Kakuna   Bug
Hypa     NaN

In [16]:
pokemon.sort_index()

              Type
Pokemon
Abomasnow    Grass
Abra       Psychic
Absol         Dark
Accelgor       Bug
Aegislash    Steel
...            ...
Zoroark       Dark
Zorua         Dark
Zubat       Poison
Zweilous      Dark
Zygarde     Dragon

[721 rows x 1 columns]

# .get() in Series

In [17]:
pokemon = pd.read_csv("pokemon.csv")
pokemon.sort_index(inplace=True)
pokemon.head(3)

     Pokemon   Type
0  Bulbasaur  Grass
1    Ivysaur  Grass
2   Venusaur  Grass

In [18]:
pokemon.sort_index(inplace= True)

In [24]:
pokemon.get(key = "Venusaur", default= "not found")

'not found'

In [1]:
import pandas as pd

In [2]:
google = pd.read_csv("google_stock_price.csv")

In [3]:
google.head(3)

   Stock Price
0        50.12
1        54.10
2        54.65

In [4]:
google.count()

Stock Price    3012
dtype: int64

In [5]:
len(google)

3012

In [6]:
google.mean()

Stock Price    334.310093
dtype: float64

In [7]:
google.std()

Stock Price    173.187205
dtype: float64

In [8]:
google.min()

Stock Price    49.95
dtype: float64

In [9]:
google.max()

Stock Price    782.22
dtype: float64

In [10]:
google.describe()

       Stock Price
count  3012.000000
mean    334.310093
std     173.187205
min      49.950000
25%     218.045000
50%     283.315000
75%     443.000000
max     782.220000


# IDMAX IDMIN

In [11]:
google = pd.read_csv("google_stock_price.csv")

In [12]:
google.min()

Stock Price    49.95
dtype: float64

In [13]:
google.idxmin()

Stock Price    11
dtype: int64

In [18]:
google.head(12)

    Stock Price
0         50.12
1         54.10
2         54.65
3         52.38
4         52.95
5         53.90
6         53.02
7         50.95
8         51.13
9         50.07
10        50.70
11        49.95

In [19]:
pokemon =pd.read_csv("pokemon.csv")

In [23]:
pokemon.value_counts()

Pokemon    Type
Abomasnow  Grass     1
Ponyta     Fire      1
Porygon    Normal    1
Porygon-Z  Normal    1
Porygon2   Normal    1
                    ..
Golurk     Ground    1
Goodra     Dragon    1
Goomy      Dragon    1
Gorebyss   Water     1
Zygarde    Dragon    1
Length: 721, dtype: int64

In [21]:
pokemon.count()

Pokemon    721
Type       721
dtype: int64

In [24]:
google = pd.read_csv("google_stock_price.csv")

In [36]:
def classify_perfomance(number):
    if number < 300:
        return  "OK"
    elif number <=300 and number < 650:
            return "Normas"
    else:
            "NOOO"

In [37]:
google.apply(classify_perfomance).empty()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [38]:
google.apply(lambda stock_price : stock_price +1)

      Stock Price
0           51.12
1           55.10
2           55.65
3           53.38
4           53.95
...           ...
3007       773.88
3008       772.07
3009       774.18
3010       772.61
3011       783.22

[3012 rows x 1 columns]

# MAP in COLL data

In [40]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze= True)
pokemon_names.head(6)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object

In [41]:
pokemon_types = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze= True)

In [42]:
pokemon_types.head(6)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Name: Type, dtype: object

In [44]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object